<div class="container">
    <button (click)="openAddDialog()" class="filter-item">Add</button>
    
    @for(paramField of filterParamFields; track $index) {

        @if(paramField.type === TypeDetect.StringType){
            <input (change)="onFilterChange()" [(ngModel)]="filterParamsAny[paramField.key]" type="text" 
                placeholder="{{paramField.label}}">
        }
        @if(paramField.type === TypeDetect.NumberType) {
            <input (change)="onFilterChange()" type="number" 
                [(ngModel)]="filterParamsAny[paramField.key]" placeholder="{{paramField.label}}">
        }
        @if(paramField.type === TypeDetect.BoolType) {
            <select #sel (change)="onFilterChange()" [(ngModel)]="filterParamsAny[paramField.key]"
                matTooltip="{{filterParamsAny[paramField.key] != undefined ? paramField.label : ''}}">
                <option [ngValue]="undefined" disabled selected hidden>{{paramField.label}}</option>
                @if(filterParamsAny[paramField.key] != undefined) { <option [ngValue]="undefined">-</option> }
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
        }
        
        @if(paramField.isEnum == true) {           
            <select (change)="onFilterChange()" [(ngModel)]="filterParamsAny[paramField.key]"
                matTooltip="{{filterParamsAny[paramField.key] != undefined ? paramField.label : ''}}">
                <option [ngValue]="undefined" disabled selected hidden>{{paramField.label}}</option>
                @if(filterParamsAny[paramField.key] != undefined) { <option [ngValue]="undefined">-</option> }
            @for (option of getEnumValues(paramField.type); track option) {
                <option [ngValue]="option">{{paramField.type[option]}}</option>
            }
            </select>
        }
    }
    <button (click)="resetFilters()">Reset</button>

    @if(viewToggleValues().length > 0) {
    <div class="filter-item view-toggle">
        @for(viewToggleValue of viewToggleValues(); track $index){
        <button [class.selected]="viewToggleValue.selected" matTooltip="{{viewToggleValue.value}}"
            (click)="onSelectViewToggle(viewToggleValue)">
            <mat-icon>{{viewToggleValue.icon}}</mat-icon>
        </button>
        }
    </div>
    }

</div>
