<div class="nav-main">
    <a routerLink="/" class="nav-el-button"><img src="logo.png" alt=""></a>
    <a routerLink="/" class="nav-el-button">Home</a>
    <a routerLink="/bodies" class="nav-el-button">Bodies</a>
    <a routerLink="/astronomers" class="nav-el-button">Astronomers</a>
    <a routerLink="/api" class="nav-el-button">API</a>
    <a routerLink="/application" class="nav-el-button">App</a>
    <a routerLink="/about" class="nav-el-button">About</a>
    <a class="nav-el-button">Theme</a>
</div>
